.App {
  text-align: center;
  background-color: white;
  margin: 0 auto;
}




/* Spotify page */

.main-episode-container > h3{
  text-align: left;
  margin-left: 50px;
}


.ucbp-container {
  background-color:silver;
  width: 75%;
  min-width: 25%;
  margin: 0 auto;
  margin-top: 25px;
}

.disappeer {
  color: rgba(0, 0, 0, 0);
}

